@import "/../../../App.scss";

.homeheader{
    background: $darkBlack;
    color: $lightGreen;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoandtitle{
    color: $lightGreen;
    
}

.logo{
    width: 40px;
}
.headerbuttons{
    display: flex;
    justify-content: center;
}

