@import '../../App.scss';
@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');


.home{
    background: $darkGreen;
    font-family: 'Prompt', sans-serif;
}
.welcomeicon{
    width: 30px;
}
i{
    font-size: 100px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    background: white;
}
.welcome{
    background: $darkBlack;
    margin-bottom: 1rem;
    color: $lightGreen;
    padding-left: 20%;
    padding-right: 20%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    h2{
        font-size: 100px;
        margin: 0 auto;
    }
    button{
        border: none;
        color: #66BBFF;
        background: none;
        font-size: 23px;
    }
    
}
button:hover {
    cursor: pointer;
}
.howitworks{
    background: $lightWhite;
    margin-bottom: 1rem;
    padding-left: 20%;
    padding-right: 20%;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 100px;
        margin: 0 auto;
    }
    button{
        border: none;
        color: #66BBFF;
        background: none;
        font-size: 23px;
    }
}
.subtitle{
    text-decoration: none;
    font-size: 30px;
}
.learnmore{
    background: $darkBlack;
    margin-bottom: 1rem;
    color: $lightGreen;
    padding-left: 20%;
    padding-right: 20%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        font-size: 100px;
        margin: 0 auto;
    }
    button{
        border: none;
        color: #66BBFF;
        background: none;
        font-size: 23px;
    }
    

}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   
}
@media screen and (max-width: 500px) {
   .content{
       p{
           font-size: 10px;
       }
       width: 100%;
       h2{
           font-size: 20px;
       }
      
   }
   .subtitle{
       font-size: 13px;
   }
   
}
