@import '../../App.scss';
@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');


.mydocscomponent{
    background: #e4e4e4;
    height: 100vh;
    font-family: 'Days One', sans-serif;

}
.mydocsactual{
    display: flex;
    justify-content: center;
    background: #e4e4e4;

}
.therealdocs{
    display: flex;
    width: 70%;
    justify-content: flex-start;
    border-radius: 10px;
    background: $mainGrey;
    color: black;
    margin: 1rem;
    box-shadow: 3px 3px 15px 3px #888888;
    border-radius: 10px;
    font-size: 29px; 
    padding: 10px;
    flex-wrap: wrap;
}
.newdoccontainer{
    height: 180px;
    width: 135px;
    margin: 1rem;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 15px 1px #888888;
    background: linear-gradient(to bottom right, $lightWhite, $mainGrey) ;
    img{
        width: 48px;
        position: absolute;
        bottom: 30%;
    }
    p{
        font-weight: bold;
    }
}
.newdoccontainer:hover{
    cursor: pointer;
    transform: scale(1.1);

}
.listofdocsactual{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}
.contracttitlebyid{
    
        font-family: 'Montserrat', sans-serif;

    
}
.listofdocs{
    display: flex;
    flex-direction: column;
}
.listofdocstitle{
    display: flex;
    justify-content: center;
    padding-left: 1rem;

}
.individualdoc{
    height: 180px;
    width: 135px;
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-shadow: 1px 1px 15px 1px #888888;
    background: linear-gradient(to bottom right, #FAFAFA, $mainGrey) ;
    position: relative;
}
.individualdoc:hover{
    cursor: pointer;
    .clicktoviewdetails{
        color: $blue;
    }
    transform: scale(1.1);
}
.individualcontracttitle{
    color: black;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
}
.listofdocsactual{
    flex-wrap: wrap;
}
.clicktoviewdetails{
    color: $lightWhite;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left:10px;
    border-radius: 10px;
    font-size: 15px;
    font-style: italic;
}
@media screen and (max-width: 500px) {
    .newdoccontainer{
        width: 67.5px;
        height: 90px;
    }
    .individualdoc{
        width: 67.5px;
        height: 90px;
        p{
            font-size: 12px;
        }

    }
    .clicktoviewdetails{
        display: none;
    }
    .newdoc{
        p{
            font-size: 15px;
        }
    }
    .listofdocstitle{
        p{
            font-size: 15px;
        }
    }
    .therealdocs{
        width: 90%;
    }
 }