@import "../../../App.scss";


h3{
    text-decoration: underline;
    margin: 1rem;
}
.switchtologin{
    color: black;
}
.wholelogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
.firstline{
font-size: 13px;
}
.switchtologin{
font-size: 16px;
}
.switchtologin:hover{
    text-decoration: underline;
    cursor: pointer;
}

.loginform{
    background: $lightBlack;
    color: $lightGreen;
    width: 25%;
    margin: 1rem;
    box-shadow: 3px 3px 15px 3px #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    border-radius: 10px;
    font-size: 29px; 
    padding: 10px;
}
p{
    margin: 5px 0px auto;
}
.firstname{
width: 70%;
    input{
        width: 7rem;
    }
}

.lastname{
    width: 70%;
        input{
            width: 7rem;
        }
    }
.email{
width: 70%;
input{
    width: 13rem;
}

}
.password{
width: 70%;
input{
    width: 9rem;
}

}
.reenterpassword{
width: 70%;
input{
    width: 9rem;
}

}
@media screen and (max-width: 500px) {
    .loginform{
        width: 95%
    }
}