@import "/../../../App.scss";

.header{
    background: $darkBlack;
    color: $lightGreen;
    justify-content: space-between;
    display: flex;
    align-items: center;
    height: 80px;
}
.welcome{
    font-size: 13px;
}
.mydocstitle{
    display: flex;
    align-items: center;
}
.logoandtitle{
    display: flex;
    
    margin-left: 2rem;
    align-items: center;
}
.logoandtitle:hover{
    cursor: pointer;
}
.title{
    font-size: 30px;
    font-weight: 700;
    
}
.title:hover{
    text-decoration: underline;
}
.new{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 4rem;
    margin: 1rem;
}
.new:hover{
    cursor: pointer;
}
.plusimg{
    width: 25px;
}
.filingcabinet{
    width: 25px;
}
.mydocs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
  
}
.mydocs:hover{
    cursor: pointer;
}
.logo{
    width: 60px;
    margin-right: 1rem;
    height: 60px;
}
.headerbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 2rem;
    font-size: 18px;
    color: $lightGreen;
}
a {
    text-decoration: none;
    color: $lightGreen;
}


.loginbutton{
    color: $lightGreen;
    border: none;
    background: $lightBlack;
    height: 2rem;
    border-radius: 10px;
    font-size: 18px;
    margin: 1rem;
    width: 3rem;
}   
.loginbutton:hover{
    cursor: pointer;
    background: $onHover;
}
.loginbutton:focus{
    outline: 0;
}




