@import "../../../App.scss";

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e4e4e4;


}
.addnew{
    display: flex;
    flex-direction: row;
    
}
.thebuttons{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 500px) {
    .nextbutton{
        font-size: 8px;
        font-weight: 800;
        width: 4rem;

    }
    .whoareyouform{
        width: 65%;
        p {
            font-size: 13px;
        }
    }
    textarea{
        width: 10rem;
    }
}