@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

$darkBlack: #0B0C10;
$lightBlack: #404040;
$onHover: #696969;
$mainGrey: #C5C6C7;
$lightGreen: #BDFCC9;
$darkGreen: #00611C;
$lightWhite: #FAFAFA;
$middleBlack: #202020;
$blue: #66BBFF;

.App {
  text-align: center;
}

button:focus {outline:0;}

input{
  background: none;
  border: 2px $lightGreen solid;
  border-radius: 10px;
  height: 1.5rem;
  color: $lightGreen;
  font-size: 13px;
}
input::placeholder{
  color: $lightGreen;
  opacity: .5;
}



