@import "../../../App.scss";

.contractpreview{
    display: flex;
    align-content: center;
    flex-direction: column;
}

//Below here is the CSS for the actual contract
.thelogoimage{
    width: 40px;
}
.actualcontract{
    width: 850px;
    height: 1100px;
    border: 1px black solid;
    padding: 1rem;
    margin: 0 auto;
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
    }
    h3{
        text-decoration: none;
    }
}
.theprice{
    display: flex;
    flex-direction: column;
}
.thesecondlayerprice{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.fineprint{
    font-style: italic;
    font-size: 10px;
}

