@import "../../../App.scss";

.contractpreview{
    display: flex;
    align-content: center;
    flex-direction: column;
}
.thelogoimage{
    width: 40px;
}
.actualcontract{
    width: 850px;
    height: 1100px;
    border: 1px black solid;
    padding: 1rem;
    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border-bottom: 1px solid black;
    }
}
.fineprint{
    font-style: italic;
    font-size: 10px;
}

