@import "../../../App.scss";
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');

.contractpreview{
    display: flex;
    align-content: center;
    flex-direction: column;
}

//Below here is the CSS for the actual contract
.thelogoimage{
    width: 40px;
}
.contracttitlebyid:hover{
    cursor: pointer;
    color: $onHover;
}

.offeredservice{
    display: flex;
    flex-direction: column;
    max-height: 130px;
    h2{
        display: flex;
    }
}
.actualservice{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.termstext{
    font-size: 8px;
    font-weight: 100;
    margin: 0 ;
    padding-left: 1rem;
   
}
.theterm{
    display: flex;
}
.theterms{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: flex-start;
    max-height: 451px;
   
    h2{
        display: flex;
    }
    
}
.signature{
    max-height: 200px;
}
.officialcontract{
    p{
        margin: .2rem;
        font-size: 8px;
    }
    
}
.preparedon{
    font-size: 8px;
    max-width: 120px;
    width: 120px;
    max-height: 107px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    font-family: 'Assistant', sans-serif;
    p{
        margin: 0 auto;
        padding-bottom: 1rem;
    }
}
.theeffectiveda{
    display: flex;
    margin: .5rem;
}
.theactualterm{
    display: flex;
    margin: .5rem;
}
.theactualtermtext{
    display: flex;
}
.thepaymentterms{
    display: flex;
    margin: .5rem;

}
.taxcompliance{
    display: flex;
    margin: .5rem;

}
.thecancellationpolicy{
    display: flex;
    margin: .5rem;

}
.address{
    max-height: 60px;
    p{
        margin: 0 auto;
    }
}
.updatebox{
    input{
        color: black;
    }
}
.logoandaddress{
    font-size: 10px;
    max-height: 107px;
    width: 120px;
    max-width: 120px;
    margin-bottom: 1rem;
}
.haha{
    font-size: 8px;
    font-weight: 600;
}
.actualcontract{
    width: 595px;
    height: 842px;
    max-width: 850px;
    max-height: 1100px;
    border: 1px black solid;
    padding: 1rem;
    margin: 1rem auto;
    overflow:visible;
    font-family: 'Assistant', sans-serif;
    h4{
        margin: 0;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;
        max-height: 125px;
    }
    h3{
        text-decoration: none;
    }
}

.thesecondlayerprice{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.fineprint{
    font-style: italic;
    font-size: 8px;
    max-height: 40px;
}
.thesignatory{
    font-size: 13px;
    margin: 20px auto;
}
.thedate{
    display: flex;
    flex-direction: column;
    h6{
        display: flex;
        justify-content: flex-start;
    }
}

