@import "../../../App.scss";

.clientinfo{
    background: #e4e4e4;
}
.whoareyouform{
    margin: 2rem auto;
}
.thebuttons{
    margin: 0 auto;
}
.whotitle{
    font-size: 30px;
   
}
@media screen and (max-width: 500px) {
    .nextbutton{
        font-size: 8px;
        font-weight: 800;
    }
    .whoareyouform{
        width: 65%
    }
}
